@import "variables.scss";

.comments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__user{
        font-size: 12px;
        font-weight: 600;
        
    }
    &__text{
       font-size: 12px;
      
    }
    &__like{
        cursor: pointer;
    }
}