.suggestions{
    margin-top: 20px;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 12px;
    }
    a{
        font-size: 10px;
    }
}